profiles {
  local {
    process.executor = 'local'
    process.docker = true
    process.container = 'xiang2019/rnaseq_cmd:v1.0.0'
  }
  awsbatch {
    process.executor = 'awsbatch'
    process.queue = 'rnaseq'
    process.memory = 128000.MB
    process.time = '1d'
    process.cpus = 8
    process.maxForks = 2
    process.docker = true
    process.container = 'xiang2019/rnaseq_cmd:v1.0.0'
    aws {
      region = 'your-aws-region'
      accessKey = System.getenv('AWS_ACCESS_KEY_ID')
      secretKey = System.getenv('AWS_SECRET_ACCESS_KEY')
    }
    workDir = 's3://nanopore1/Xiang/PKR_RIP/'
    params {
      projectDir = 's3://nanopore1/Xiang/PKR_RIP/'
      input = 's3://nanopore1/Xiang/PKR_RIP/'
      output = 's3://nanopore1/Xiang/PKR_RIP/output'
    }
  }
  slurm {
    process.executor = 'slurm'
  }
  s3 {
    process.executor = 'local'
    aws {
      region = 'us-east-1'
      accessKey = System.getenv('AWS_ACCESS_KEY_ID')
      secretKey = System.getenv('AWS_SECRET_ACCESS_KEY')
    }
    params {
      input = 's3://nanopore1/Xiang/PKR_RIP/'
      output = 's3://nanopore1/Xiang/PKR_RIP/output'
    }
  }
}

params {
  cpus = 24
  memory = '64 GB'
}
