// Test configuration
process {
    container = 'xiang201/gtftools:v1.0.0'
    errorStrategy = 'terminate'
    maxForks = 1
}

executor {
    $local {
        cpus = 2
        memory = '4 GB'
    }
}

// Test-specific parameters
params {
    test_mode = true
    max_peaks = 1000
    min_peak_score = 5
}

// Import main config
includeConfig '../nextflow.config' 