// Test configuration
process {
    container = 'nfcore/clipseq:1.0.0'
    errorStrategy = 'terminate'
    maxForks = 1
    withName: FEATURE_EXTRACT {
        container = 'xiang2019/gtftools:v1.0.0'
    }
}





executor {
    $local {
        cpus = 2
        memory = '4 GB'
    }
}

// Test-specific parameters
params {
    test_mode = true
    max_peaks = 1000
    min_peak_score = 5
}

// Import main config
includeConfig '../nextflow.config' 